@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
}



.home {
    background: linear-gradient(181deg, #000 0.82%, #4A2800 129.1%);
    backdrop-filter: blur(7px);
}

.header {
    padding-top: 37px;
    padding-right: 63px;
    padding-left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;



    .menus {
        padding-left: 480px;
        padding-top: 15px;
        padding-bottom: 5.8px;
    }

    .menus ul {
        width: 800px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .logo h1 {

        color: #FFF;
        font-family: Poppins;
        font-size: 29px;
        font-weight: 800;
        line-height: 153.5%;
    }

    .menus {
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
    }

    .menus li {
        padding-left: 84px;
    }

    .menus li a{
        text-decoration: none;
        color: #FFF;;
    }
    .menus ul button {
        margin-left: 36.5px;
        border-radius: 6px;
        background: #FA9021;
        padding: 10.8px 28.46px 11.09px 27.41px;
    }


        .menus ul button a {
            text-decoration: none;
            color: #FFF;
            font-family: Poppins;
            font-size: 13px;
            font-weight: 400;


        }
    }

    


.section-1 {

    padding-top: 115px;
    padding-left: 147px;
    display: flex;
    justify-content: space-between;

    .section-1-left {

        span {
            width: 161.061px;
            color: #E87D0E;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 700;
            line-height: 155.2%;

        }

        h1 {
            width: 479.629px;
            color: #FFF;
            font-family: Poppins;
            font-size: 50px;
            font-weight: 700;
            line-height: 155.2%;
            padding-top: 17px;
        }

        p {
            width: 527px;
            height: 101px;
            flex-shrink: 0;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 200%;
            padding-top: 26px;
            padding-bottom: 50px;
        }

        button {
            border-radius: 40px;
            background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            padding: 14px 31px 15px 30px;

        }
    }
    .section-1-right{
        position: absolute;
        z-index: -10;
       left: 772px;
       right: 138px;
       bottom: 4621px;

    }

}

.section-2 {
    padding-top: 132px;
    padding-left: 147px;
    padding-right: 147px;

    .section-2-header {
        display: flex;
        justify-content: space-between;

        h1 {
            color: #FFF;
            font-family: Rubik;
            font-size: 31px;
            font-weight: 700;
            line-height: 187.5%;
            /* 58.125px */
        }

        button {
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.11);
            color: #FFF;
            font-family: Rubik;
            font-size: 20px;
            font-weight: 500;
            line-height: 187.5%;
            padding: 10px 30px;
        }
    }

    .section-2-content {
        padding-top: 57px;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;

        }

        .list-items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div {
                padding-top: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 9px;

                p {
                    color: #FFF;
                    font-family: Rubik;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 187.5%;

                }
            }

        }
    }
}

.section-3 {
    .section-3-header {
        padding: 129px 307px 67px 307px;

        h1 {
            width: 826px;
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 35px;
            font-weight: 600;
            line-height: 187.5%;
            /* 65.625px */
        }
    }

    .section-3-content {
        padding-left: 147px;
        padding-right: 147px;

        h1 {
            width: 209px;
            height: 40px;
            color: #FFF;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 600;
            line-height: 187.5%;
            padding-bottom: 32px;
            ;
        }

        p {
            width: 545px;
            height: 101px;
            color: #FFF;
            font-family: Poppins;
            font-weight: 400;
            line-height: 187.5%;
            padding-bottom: 46px;
        }

    }

    .section-3-img {
        padding-left: 147px;
        padding-right: 147px;
        padding-bottom: 157px;

    }

}

.section-4 {
    background: url(./assets/images/home/section-4-background.png);

    .section-4-header {
        padding: 93px 307px 99px 307px;

        h1 {
            width: 826px;
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 700;
            line-height: 187.5%;
            padding-bottom: 25px;
        }

        p {
            width: 820px;
            height: 60px;
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 187.5%;
            /* 30px */

        }

    }

    .section-4-content1 {

        list-style: none;
        display: flex;
        justify-content: center;
        gap: 100px;


        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: #FFF;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 187.5%;
                padding-top: 30px;
                padding-bottom: 24px;
            }
        }
    }

    .section-4-content2 {
        list-style: none;
        padding-top: 62px;
        padding-bottom: 86px;
        display: flex;
        justify-content: center;
        gap: 100px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: #FFF;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 187.5%;
                padding-top: 30px;
                padding-bottom: 24px;

            }
        }
    }
}

.section-5 {
    padding: 148px 135px 105px 135px;
    background: linear-gradient(149deg, #090300 18.81%, rgba(9, 3, 0, 0.00) 199.4%);
    display: flex;
    flex-direction: column;
    align-items: center;


    .section-5-header {
        padding-bottom: 71px;
        display: flex;
        flex-direction: column;
        align-items: center;


        h1 {
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 700;
            line-height: 187.5%;
            width: 305px;
            padding-bottom: 15px;

        }

        p {
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 187.5%;
            padding-left: 336px;
            padding-right: 337px;
            width: 497px;
            height: 57px;
            flex-shrink: 0;
        }
    }

    .section-5-content1 {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 27px;
    }

    .section-5-content2 {
        padding-top: 33px;
        padding-bottom: 72px;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 27px;
    }

    button {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.11);
        color: #FFF;
        font-family: Rubik;
        font-size: 20px;
        font-weight: 500;
        line-height: 187.5%;
        padding: 10px 30px;

    }
}

.section-6 {
    background: linear-gradient(149deg, #090300 18.81%, rgba(9, 3, 0, 0.00) 199.4%);
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 163px;

    .section-6-header {
        h1 {
            width: 209px;
            height: 40px;
            color: #FFF;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 600;
            line-height: 187.5%;
            padding-bottom: 32px;
        }

        p {
            width: 545px;
            height: 57px;
            flex-shrink: 0;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 187.5%;
            padding-bottom: 74px;
        }
    }

    .section-6-content {
        border-radius: 15px;
        background: #1C140F;
    }

    .section-6-content-box {
        padding: 40px 50px 42px 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section-6-content-left {
        h1 {
            width: 303px;
            color: #FFF;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 500;
        }

        p {
            width: 636px;
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 400;
            padding-top: 10px;
        }
    }

    .section-6-content-right {
        width: 385.679px;
        height: 48px;
        border-radius: 8px;
        background: #FFF;
        padding: 6px 6px 5px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            width: 155.098px;
            color: #898989;
            text-align: center;
            font-family: Poppins;
            font-size: 13px;
            font-weight: 300;
        }

        button {
            border-radius: 8px;
            background: #DC7000;
            padding: 8px 13.5px 9px 22px;
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 13px;
            font-weight: 400;

        }
    }
}

.section-7 {
    background: #070707;
    padding-top: 73px;
    padding-left: 101px;
    display: flex;
    align-items: center;

    .section-7-list1 {
        list-style: none;

        h1 {
            color: #FFF;
            font-family: Poppins;
            font-size: 24px;
            font-weight: 800;
            line-height: 153.5%;

        }

        p {
            width: 372px;
            height: 58px;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            padding-top: 15px;
            padding-bottom: 25px;
        }

        li:last-child {
            width: 196px;
            height: 23px;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .section-7-list2 {
        list-style: none;
        padding-left: 78px;

        li:first-child {
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 500;
            padding-bottom: 15px;
        }

        li {
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 186.3%;
        }
    }

    .section-7-list3 {
        list-style: none;
        padding-left: 144px;
        padding-right: 83px;

        li:first-child {
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 500;
            padding-bottom: 20px;
        }

        p {
            width: 282px;
            height: 76px;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
        }

        li:last-child {
            width: 141px;
            height: 28px;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            padding-top: 11px;
        }
    }

    .section-7-list4 {
        list-style: none;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        gap: 16px;

        li {
            width: 34px;
            height: 34px;
        }
    }

    padding-bottom: 56px;


}

.section-8 {
    background: #070707;

    hr {
       
        background: #D2D2D2;
    }

    footer {
        color: #FFF;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 190.6%;
        padding: 29px 588px;
    }
}