@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}



.portfolio {
    background: linear-gradient(177deg, #050301 -30.15%, #120A01 92.85%);
}

.header {
    padding-top: 37px;
    padding-right: 63px;
    padding-left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;



    .menus {
        padding-left: 480px;
        padding-top: 15px;
        padding-bottom: 5.8px;
       
    }

    .menus ul {
        width: 800px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        


    }

    .logo h1 {

        color: #FFF;
        font-family: Poppins;
        font-size: 29px;
        font-weight: 800;
        line-height: 153.5%;
    }

    .menus {
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
    }

    .menus li {
        padding-left: 84px;
    }

    .menus li a {
        text-decoration: none;
        color: #FFF;
        ;
    }

    .menus ul button {
        margin-left: 36.5px;
        border-radius: 6px;
        background: #FA9021;
        padding: 10.8px 28.46px 11.09px 27.41px;
    }


        .menus ul button a {
            text-decoration: none;
            color: #FFF;
            font-family: Poppins;
            font-size: 13px;
            font-weight: 400;


        }


}

.section-1 {
    padding-top: 114px;
    padding-left: 170px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 208.5%;
    }

    span {
        color: #E47500;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 208.5%;
    }

    h1 {
        width: 942px;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 33px;
        font-weight: 600;
        line-height: 180.5%;
        padding-top: 15px;
        padding-bottom: 13px;
    }

    p {
        width: 609px;
        height: 31px;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 187.5%;
        padding-bottom: 45px;
    }

    .section-1-box {
        width: 1140px;
        height: 200px;
        border-radius: 10px;
        background: #1C140F;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 91px;
        padding-right: 83px;

        span {
            width: 0px;
            height: 125.573px;
            stroke-width: 2px;
            stroke: #EEEFF2;
        }
    }


    .sec1-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36.5px;

        ul {
            list-style: none;

        }

        li:first-child {
            color: #FFF;
            font-family: Rubik;
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
        }

        li:last-child {
            color: #FFF;
            font-family: Rubik;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
        }
    }
}


.section-2 {
    padding-top: 120px;
    padding-left: 109px;
    padding-right: 146px;
    display: flex;
    justify-content: center;
    gap: 87px;

    .section-2-left {
        padding-top: 13px;
    }

    .section-2-right {
        h1 {
            width: 383.406px;
            color: #FFF;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 700;
            line-height: 180.5%;
        }

        p {
            width: 427.879px;
            color: #FFF;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 187.5%;
            padding-top: 12px;
            padding-bottom: 28px;
        }

        ul {
            list-style: none;

        }

        li {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        li span {
            color: #FFF;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 187.5%;
        }
    }
}

.section-3 {
    padding: 182px 161px 189px 109px;
    display: flex;
    justify-content: center;
    gap: 138px;

    .section-3-left {
        padding-top: 7px;

        h1 {
            color: #FFF;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 500;

        }

        p {
            width: 536px;
            height: 159px;
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 400;
            padding-top: 43px;
            padding-bottom: 18px;
        }

        h4 {
            width: 508px;
            height: 58px;
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 400;
            padding-bottom: 46px;
        }

        button {
            padding: 13px 45px;
            background: #DC7000;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 18px;
        }

    }



}


.section-4 {
    padding-left: 118px;
    padding-right: 172px;
    display: flex;
    justify-content: center;
    gap: 116px;

    .section-4-right {
        padding-top: 13px;

        h1 {
            color: #FFF;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 500;

        }

        p {
            width: 536px;
            height: 159px;
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 400;
            padding-top: 43px;
            padding-bottom: 18px;
        }

        h4 {
            width: 508px;
            height: 58px;
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 400;
            padding-bottom: 46px;
        }

        button {
            padding: 13px 45px;
            background: #DC7000;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 12px;
        }

    }
}

.section-5 {

    padding: 182px 161px 168px 109px;
    display: flex;
    justify-content: center;
    gap: 138px;

    .section-5-left {
        padding-top: 7px;

        h1 {
            color: #FFF;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 500;

        }

        p {
            width: 536px;
            height: 159px;
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 400;
            padding-top: 43px;
            padding-bottom: 18px;
        }

        h4 {
            width: 508px;
            height: 58px;
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 400;
            padding-bottom: 46px;
        }

        button {
            padding: 13px 45px;
            background: #DC7000;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 18px;
        }

    }



}

.section-6 {
    background: #1C140F;
    padding: 88px 31px 60px 109px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        width: 447.805px;
        color: #FFF;
        text-align: center;
        font-family: Rubik;
        font-size: 35px;
        font-weight: 500;
        line-height: 50px;
    }

    p {
        width: 555px;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 187.5%;
        padding-top: 20px;
        padding-bottom: 68px;


    }

    .sec6-box-container {
        display: flex;
        justify-content: center;
        gap: 50px;

    }

    .sec6-box1 {

        border-radius: 10px;
        border: 2px solid #DC7000;
        background: #0F0901;
        padding: 30px;
    }

    .sec6-box1-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .head-list1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;





        h1 {
            width: 142px;
            color: #FFF;
            text-align: center;
            font-family: Rubik;
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
        }


        h4 {

            color: #4F5665;
            text-align: center;
            font-family: Rubik;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            /* 214.286% */
        }



    }

    .head-list2 {



        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;


        span {
            width: 24px;
            color: #FFF;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    .box-footer {
        width: 340px;
        height: 100px;
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 187.5%;
        text-align: left;


    }
}

.section-6-final {
    background: #1C140F;
    padding-left: 109px;
    padding-right: 191px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn2 {
        stroke-width: 2px;
        stroke: #DC7000;
        background: #1C140F;
        ;
    }

    .sec6-final {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .button-last {
        margin-top: 25px;
      }

}

.section-7 {
    background: linear-gradient(149deg, #090300 18.81%, rgba(9, 3, 0, 0.00) 199.4%);
    padding-left: 109px;
    padding-top: 127px;
    padding-right: 161px;
    padding-bottom: 144px;

    .section-7-header {
        h1 {
            width: 209px;
            height: 40px;
            color: #FFF;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 600;
            line-height: 187.5%;
            padding-bottom: 32px;
        }

        p {
            width: 545px;
            height: 57px;
            flex-shrink: 0;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 187.5%;
            padding-bottom: 74px;
        }
    }

    .section-7-content {
        border-radius: 15px;
        background: #1C140F;
    }

    .section-7-content-box {
        padding: 40px 50px 42px 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section-7-content-left {
        h1 {
            width: 303px;
            color: #FFF;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 500;
        }

        p {
            width: 636px;
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 400;
            padding-top: 10px;
        }
    }

    .section-7-content-right {
        width: 385.679px;
        height: 48px;
        border-radius: 8px;
        background: #FFF;
        padding: 6px 6px 5px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            width: 155.098px;
            color: #898989;
            text-align: center;
            font-family: Poppins;
            font-size: 13px;
            font-weight: 300;
        }

        button {
            border-radius: 8px;
            background: #DC7000;
            padding: 8px 13.5px 9px 22px;
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 13px;
            font-weight: 400;

        }
    }
}

.section-8 {
    background: #070707;
    padding-top: 73px;
    padding-left: 101px;
    display: flex;
    align-items: center;

    .section-8-list1 {
        list-style: none;

        h1 {
            color: #FFF;
            font-family: Poppins;
            font-size: 24px;
            font-weight: 800;
            line-height: 153.5%;

        }

        p {
            width: 372px;
            height: 58px;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            padding-top: 15px;
            padding-bottom: 25px;
        }

        li:last-child {
            width: 196px;
            height: 23px;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .section-8-list2 {
        list-style: none;
        padding-left: 78px;

        li:first-child {
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 500;
            padding-bottom: 15px;
        }

        li {
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 186.3%;
        }
    }

    .section-8-list3 {
        list-style: none;
        padding-left: 144px;
        padding-right: 83px;

        li:first-child {
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-weight: 500;
            padding-bottom: 20px;
        }

        p {
            width: 282px;
            height: 76px;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
        }

        li:last-child {
            width: 141px;
            height: 28px;
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            padding-top: 11px;
        }
    }

    .section-8-list4 {
        list-style: none;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        gap: 16px;

        li {
            width: 34px;
            height: 34px;
        }
    }

    padding-bottom: 56px;


}

.section-9{
    background: #070707;

    hr {

        background: #D2D2D2;
    }

    footer {
        color: #FFF;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 190.6%;
        padding: 29px 588px;
    }
}